.navbar {
  background-color: gray;
  & .container {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: large;
    display: flex;
    gap: 20px;

    & a {
      padding: 20px;
      text-decoration: none;
      color: white;
    }

    & a:hover {
      color: black;
      background-color: darkgray;
    }
  }
}

.containerApp {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 90vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
